"*":
  "":
    js:
      jsx:
        react:
          source:
            editor:
              autoIndent: true
              autoIndentOnPaste: false
  "atom-beautify":
    css:
      beautify_on_save: true
    general:
      _analyticsUserId: "18120271-8dd4-4e7f-870c-66029ac20977"
    html:
      beautify_on_save: false
    js:
      disabled: true
    jsx:
      disabled: true
    markdown:
      beautify_on_save: false
    nginx:
      beautify_on_save: true
  "autocomplete-modules":
    babelPluginModuleResolver: true
    webpack: true
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
  drupal:
    fileTypesPhp: "module,install,inc,test"
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
  "go-plus":
    goPath: "/Users/aross/Projects/go"
    panel:
      currentHeight: "24.11111111111111vh"
    panelDisplayMode: "closed"
    test: {}
  "linter-ui-default":
    panelHeight: 301
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  nuclide:
    "atom-ide-code-format":
      formatOnType: false
    "nuclide-flow": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  stylefmt:
    formatOnSave: true
  welcome:
    showOnStartup: false
