"*":
  "atom-beautify":
    general:
      _analyticsUserId: "291d6c3d-08e8-4bdc-92a4-708372376173"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  drupal:
    fileTypesPhp: "module,install,inc,test"
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
  "go-plus":
    goPath: "/Users/aross/Projects/go"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
